@font-face {
    font-family: "Lato";
    src: url("../font/LatoWeb-Regular.ttf") format("woff2");
}

@font-face {
    font-family: "Raleway";
    src: url("../font/Raleway-Regular.ttf") format("woff2");
}

body {
    width: 50%;
    min-width: 200px;
    margin: auto;
    text-align: center;
    background-color: rgb(39, 39, 39);
    color: white;
}

td {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

th {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    cursor: pointer;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid;
    padding: 10px;
}

#SearchBar {
    float: left;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
    width: 70%;
    color: black;
}

h1, h4 {
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

.body {
    font-family: Lato, Arial, Helvetica, sans-serif;
    display: inline-block;
}

img {
    float: left;
    margin-right: 30px;
    border-radius: 16px;
}

.details {
    text-align: left;
}

.button {
    border: none;
    background-color: #666666;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 40px;
    color: white;
}

.button:hover {
    background-color: #494949;
    cursor: pointer;
}